# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***
- To familiarise with different languages of data science
- Hand on Experience on various data science tools
- Work with Python,R and Tableau

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
    1. numpy
    2. scipy
    3. pandas

| Data Science Tools |
| ---- |
|Python |
|R |
|Jupyter Notebook |
|Tableau |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
## This a simple arithmetic expression to mutiply then add integers

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2:Author : Harini Mohan